#s-1245b409-e50c-45ed-b3c6-74993b4e911e > #backgroundBox {
  background-color: #FFFFFF;
  background-image: none;
  position: absolute;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Rectangle_1 {
  position: absolute;
  top: 1px;
  left: 0px;
  width: 376px;
  height: 58px;
  background-color: #4FA8FF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Rectangle_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Group_Creation {
  position: absolute;
  top: 0px;
  left: 0px;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Select_Class {
  width: 375px;
  height: 666px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Select_Class .verticalalign {
  vertical-align: top;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Next {
  position: absolute;
  top: 570px;
  left: 39px;
  width: 298px;
  height: 56px;
  background-color: #4FA8FF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Helvetica Neue,Arial;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Next .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Next span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica Neue,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Next span#rtr-s-Next_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica Neue,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Button_2 {
  position: absolute;
  top: 399px;
  left: 38px;
  width: 298px;
  height: 56px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: dashed;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: dashed;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Helvetica Neue,Arial;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Button_2 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica Neue,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Button_2 span#rtr-s-Button_2_0 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica Neue,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Button_3 {
  position: absolute;
  top: 475px;
  left: 38px;
  width: 298px;
  height: 56px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: dashed;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: dashed;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Helvetica Neue,Arial;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Button_3 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica Neue,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Button_3 span#rtr-s-Button_3_0 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica Neue,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Button_4 {
  position: absolute;
  top: 323px;
  left: 38px;
  width: 298px;
  height: 56px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Helvetica Neue,Arial;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Button_4 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica Neue,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Button_4 span#rtr-s-Button_4_0 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica Neue,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Button_5 {
  position: absolute;
  top: 247px;
  left: 38px;
  width: 298px;
  height: 56px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Helvetica Neue,Arial;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Button_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Button_5 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica Neue,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Button_5 span#rtr-s-Button_5_0 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica Neue,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Button_6 {
  position: absolute;
  top: 171px;
  left: 38px;
  width: 298px;
  height: 56px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Helvetica Neue,Arial;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Button_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Button_6 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica Neue,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Button_6 span#rtr-s-Button_6_0 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica Neue,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Button_1 {
  position: absolute;
  top: 95px;
  left: 38px;
  width: 298px;
  height: 56px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Helvetica Neue,Arial;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Button_1 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica Neue,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Button_1 span#rtr-s-Button_1_0 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica Neue,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Study_Sesh {
  position: absolute;
  top: 23px;
  left: 133px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 13.0pt;
  font-family: Chalkduster,Arial;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Study_Sesh .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Study_Sesh span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Chalkduster,Arial;
  font-size: 13.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Study_Sesh span#rtr-s-Study_Sesh_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Chalkduster,Arial;
  font-size: 13.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Image_2 > svg {
  width: 28px;
  height: 28px;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Image_2 {
  position: absolute;
  top: 23px;
  left: 14px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Location {
  width: 375px;
  height: 666px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Location .verticalalign {
  vertical-align: top;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Next_1 {
  position: absolute;
  top: 570px;
  left: 39px;
  width: 298px;
  height: 56px;
  background-color: #4FA8FF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Helvetica Neue,Arial;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Next_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Next_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica Neue,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Next_1 span#rtr-s-Next_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica Neue,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Room {
  position: absolute;
  top: 489px;
  left: 93px;
  padding-left: 15px;
  width: 173px;
  height: 40px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  box-shadow: none;
  text-shadow: none;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Room .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Room input {
  color: #727272;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Button_8 {
  position: absolute;
  top: 377px;
  left: 38px;
  width: 298px;
  height: 56px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Helvetica Neue,Arial;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Button_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Button_8 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica Neue,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Button_8 span#rtr-s-Button_8_0 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica Neue,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Button_7 {
  position: absolute;
  top: 301px;
  left: 38px;
  width: 298px;
  height: 56px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Helvetica Neue,Arial;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Button_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Button_7 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica Neue,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Button_7 span#rtr-s-Button_7_0 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica Neue,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Study_Sesh_1 {
  position: absolute;
  top: 23px;
  left: 116px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 13.0pt;
  font-family: Chalkduster,Arial;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Study_Sesh_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Study_Sesh_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Chalkduster,Arial;
  font-size: 13.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Study_Sesh_1 span#rtr-s-Study_Sesh_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Chalkduster,Arial;
  font-size: 13.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Image_3 > svg {
  width: 28px;
  height: 28px;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Image_3 {
  position: absolute;
  top: 23px;
  left: 14px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Text_1 {
  position: absolute;
  top: 464px;
  left: 116px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Helvetica Neue,Arial;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Text_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Text_1 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica Neue,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Text_1 span#rtr-s-Text_1_0 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica Neue,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Image_1 {
  position: absolute;
  top: 57px;
  left: 0px;
  width: 375px;
  height: 210px;
  opacity: 0.37;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Image_29 > svg {
  width: 35px;
  height: 35px;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Image_29 {
  position: absolute;
  top: 145px;
  left: 153px;
  width: 35px;
  height: 35px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Details {
  width: 375px;
  height: 666px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Details .verticalalign {
  vertical-align: top;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Next_2 {
  position: absolute;
  top: 570px;
  left: 39px;
  width: 298px;
  height: 56px;
  background-color: #4FA8FF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Helvetica Neue,Arial;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Next_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Next_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica Neue,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Next_2 span#rtr-s-Next_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica Neue,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Input_1 {
  position: absolute;
  top: 133px;
  left: 39px;
  padding-left: 15px;
  width: 283px;
  height: 132px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  box-shadow: none;
  text-shadow: none;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Input_1 .valign {
  vertical-align: top;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Input_1 input {
  color: #727272;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Text_2 {
  position: absolute;
  top: 99px;
  left: 127px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Helvetica Neue,Arial;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Text_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Text_2 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica Neue,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Text_2 span#rtr-s-Text_2_0 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica Neue,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Size_1 {
  position: absolute;
  top: 297px;
  left: 40px;
  width: 298px;
  height: 56px;
  background-color: #9BCDFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 14.0pt;
  font-family: Helvetica Neue,Arial;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Size_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Size_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica Neue,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Size_1 span#rtr-s-Size_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica Neue,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Size_0 {
  position: absolute;
  top: 296px;
  left: 39px;
  width: 298px;
  height: 56px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Helvetica Neue,Arial;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Size_0 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Size_0 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica Neue,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Size_0 span#rtr-s-Size_0_0 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica Neue,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Dynamic_Panel_2 {
  position: absolute;
  top: 371px;
  left: 55px;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Panel_2 {
  width: 265px;
  height: 75px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Input_2 {
  position: absolute;
  top: 19px;
  left: 94px;
  padding-left: 15px;
  width: 60px;
  height: 43px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  box-shadow: none;
  text-shadow: none;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Input_2 input {
  color: #727272;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Button_9 {
  position: absolute;
  top: 19px;
  left: 170px;
  width: 43px;
  height: 43px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 26.0pt;
  font-family: Helvetica Neue,Arial;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Button_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Button_9 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica Neue,Arial;
  font-size: 26.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Button_9 span#rtr-s-Button_9_0 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica Neue,Arial;
  font-size: 26.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Button_10 {
  position: absolute;
  top: 19px;
  left: 214px;
  width: 43px;
  height: 43px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 26.0pt;
  font-family: Helvetica Neue,Arial;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Button_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Button_10 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica Neue,Arial;
  font-size: 26.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Button_10 span#rtr-s-Button_10_0 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica Neue,Arial;
  font-size: 26.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Text_3 {
  position: absolute;
  top: 32px;
  left: 9px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Helvetica Neue,Arial;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Text_3 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Helvetica Neue,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Text_3 span#rtr-s-Text_3_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Helvetica Neue,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Panel_3 {
  width: 265px;
  height: 75px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Panel_3 .verticalalign {
  vertical-align: top;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Study_Sesh_2 {
  position: absolute;
  top: 23px;
  left: 118px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 13.0pt;
  font-family: Chalkduster,Arial;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Study_Sesh_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Study_Sesh_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Chalkduster,Arial;
  font-size: 13.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Study_Sesh_2 span#rtr-s-Study_Sesh_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Chalkduster,Arial;
  font-size: 13.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Image_4 > svg {
  width: 28px;
  height: 28px;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Image_4 {
  position: absolute;
  top: 23px;
  left: 14px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Confirm {
  width: 375px;
  height: 666px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Confirm .verticalalign {
  vertical-align: top;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Image_5 {
  position: absolute;
  top: 119px;
  left: -187px;
  width: 375px;
  height: 172px;
  opacity: 0.37;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Image_6 {
  position: absolute;
  top: 120px;
  left: 187px;
  width: 197px;
  height: 170px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Text_4 {
  position: absolute;
  top: 81px;
  left: 106px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Helvetica Neue,Arial;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Text_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Text_4 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica Neue,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 500;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Text_4 span#rtr-s-Text_4_0 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica Neue,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 500;
  line-height: 0px;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Text_5 {
  position: absolute;
  top: 316px;
  left: 93px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Helvetica Neue,Arial;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Text_5 span {
  color: #4FA8FF;
  text-align: left;
  text-decoration: none;
  font-family: Helvetica Neue,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 500;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Text_5 span#rtr-s-Text_5_0 {
  color: #4FA8FF;
  text-align: left;
  text-decoration: none;
  font-family: Helvetica Neue,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 500;
  line-height: 0px;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Text_6 {
  position: absolute;
  top: 342px;
  left: 143px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Helvetica Neue,Arial;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Text_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Text_6 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica Neue,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Text_6 span#rtr-s-Text_6_0 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica Neue,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Text_7 {
  position: absolute;
  top: 392px;
  left: 132px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Helvetica Neue,Arial;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Text_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Text_7 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica Neue,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 500;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Text_7 span#rtr-s-Text_7_0 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica Neue,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 500;
  line-height: 0px;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Text_7 span#rtr-s-Text_7_1 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Helvetica Neue,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Text_7 span#rtr-s-Text_7_2 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Helvetica Neue,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Text_7 span#rtr-s-Text_7_3 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Helvetica Neue,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Paragraph_1 {
  position: absolute;
  top: 427px;
  left: 50px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 270px;
  height: auto;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Helvetica Neue,Arial;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Paragraph_1 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica Neue,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica Neue,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Next_3 {
  position: absolute;
  top: 570px;
  left: 39px;
  width: 298px;
  height: 44px;
  background-color: #6ACA25;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.000001pt;
  font-family: Helvetica Neue,Arial;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Next_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Next_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica Neue,Arial;
  font-size: 14.000001pt;
  font-style: normal;
  font-weight: 400;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Next_3 span#rtr-s-Next_3_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica Neue,Arial;
  font-size: 14.000001pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Line_1 {
  position: absolute;
  top: 371px;
  left: 70px;
  width: 231px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Image_7 > svg {
  width: 28px;
  height: 28px;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Image_7 {
  position: absolute;
  top: 23px;
  left: 14px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Study_Sesh_3 {
  position: absolute;
  top: 23px;
  left: 110px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.999999pt;
  font-family: Chalkduster,Arial;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Study_Sesh_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Study_Sesh_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Chalkduster,Arial;
  font-size: 12.999999pt;
  font-style: normal;
  font-weight: 400;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Study_Sesh_3 span#rtr-s-Study_Sesh_3_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Chalkduster,Arial;
  font-size: 12.999999pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Image_30 > svg {
  width: 35px;
  height: 35px;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Image_30 {
  position: absolute;
  top: 197px;
  left: 70px;
  width: 35px;
  height: 35px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Statusbar-black {
  position: absolute;
  top: 3px;
  left: 4px;
  width: 363px;
  height: 20px;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Label_97 {
  position: absolute;
  top: 3px;
  left: 37px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Label_97 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Label_97 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 12.0pt;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Label_97 span#rtr-s-Label_97_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Label_98 {
  position: absolute;
  top: 4px;
  left: 295px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Label_98 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Label_98 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 11.0pt;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Label_98 span#rtr-s-Label_98_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Label_99 {
  position: absolute;
  top: 0px;
  left: 148px;
  width: 78px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Label_99 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Label_99 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Label_99 span#rtr-s-Label_99_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Group_24 {
  position: absolute;
  top: 7px;
  left: 0px;
  width: 34px;
  height: 6px;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Ellipse_33 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Ellipse_33 .content {
  width: 6px;
  height: 6px;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Ellipse_33 {
  position: absolute;
  top: 0px;
  left: 21px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #shapewrapper-s-Ellipse_33 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #shapewrapper-s-Ellipse_33 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #shapewrapper-s-Ellipse_33 span#rtr-s-Ellipse_33_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Ellipse_34 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Ellipse_34 .content {
  width: 6px;
  height: 6px;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Ellipse_34 {
  position: absolute;
  top: 0px;
  left: 28px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #shapewrapper-s-Ellipse_34 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #shapewrapper-s-Ellipse_34 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #shapewrapper-s-Ellipse_34 span#rtr-s-Ellipse_34_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Ellipse_35 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Ellipse_35 .content {
  width: 6px;
  height: 6px;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Ellipse_35 {
  position: absolute;
  top: 0px;
  left: 14px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #shapewrapper-s-Ellipse_35 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #shapewrapper-s-Ellipse_35 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #shapewrapper-s-Ellipse_35 span#rtr-s-Ellipse_35_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Ellipse_36 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Ellipse_36 .content {
  width: 6px;
  height: 6px;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Ellipse_36 {
  position: absolute;
  top: 0px;
  left: 7px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #shapewrapper-s-Ellipse_36 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #shapewrapper-s-Ellipse_36 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #shapewrapper-s-Ellipse_36 span#rtr-s-Ellipse_36_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Ellipse_37 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Ellipse_37 .content {
  width: 6px;
  height: 6px;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Ellipse_37 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #shapewrapper-s-Ellipse_37 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #shapewrapper-s-Ellipse_37 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #shapewrapper-s-Ellipse_37 span#rtr-s-Ellipse_37_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Label_106 {
  position: absolute;
  top: 1px;
  left: 298px;
  width: 50px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Label_106 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Label_106 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Label_106 span#rtr-s-Label_106_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e #s-Image_8 {
  position: absolute;
  top: 5px;
  left: 338px;
  width: 25px;
  height: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-1245b409-e50c-45ed-b3c6-74993b4e911e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}