#s-201ab676-2537-456c-a263-fcd224db94ed #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-201ab676-2537-456c-a263-fcd224db94ed #s-Rectangle_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #4FA8FF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #4FA8FF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #4FA8FF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #4FA8FF;
  -ms-transform: rotate(0.0deg);
}
#s-201ab676-2537-456c-a263-fcd224db94ed #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-201ab676-2537-456c-a263-fcd224db94ed #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-201ab676-2537-456c-a263-fcd224db94ed #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-201ab676-2537-456c-a263-fcd224db94ed #s-Paragraph_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-201ab676-2537-456c-a263-fcd224db94ed #s-Next_3 {
  -ms-transform: rotate(0.0deg);
}
#s-201ab676-2537-456c-a263-fcd224db94ed #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-201ab676-2537-456c-a263-fcd224db94ed #s-Study_Sesh_3 {
  -ms-transform: rotate(0.0deg);
}
#s-201ab676-2537-456c-a263-fcd224db94ed #s-Button_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-201ab676-2537-456c-a263-fcd224db94ed #s-Button_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-201ab676-2537-456c-a263-fcd224db94ed #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-201ab676-2537-456c-a263-fcd224db94ed #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-201ab676-2537-456c-a263-fcd224db94ed #s-Next_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-201ab676-2537-456c-a263-fcd224db94ed #s-Label_97 {
  -ms-transform: rotate(0.0deg);
}
#s-201ab676-2537-456c-a263-fcd224db94ed #s-Label_98 {
  -ms-transform: rotate(0.0deg);
}
#s-201ab676-2537-456c-a263-fcd224db94ed #s-Label_99 {
  -ms-transform: rotate(0.0deg);
}
#s-201ab676-2537-456c-a263-fcd224db94ed #s-Ellipse_33 {
  -ms-transform: rotate(0.0deg);
}
#s-201ab676-2537-456c-a263-fcd224db94ed #s-Ellipse_34 {
  -ms-transform: rotate(0.0deg);
}
#s-201ab676-2537-456c-a263-fcd224db94ed #s-Ellipse_35 {
  -ms-transform: rotate(0.0deg);
}
#s-201ab676-2537-456c-a263-fcd224db94ed #s-Ellipse_36 {
  -ms-transform: rotate(0.0deg);
}
#s-201ab676-2537-456c-a263-fcd224db94ed #s-Ellipse_37 {
  -ms-transform: rotate(0.0deg);
}
#s-201ab676-2537-456c-a263-fcd224db94ed #s-Label_106 {
  -ms-transform: rotate(0.0deg);
}
#s-201ab676-2537-456c-a263-fcd224db94ed #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-201ab676-2537-456c-a263-fcd224db94ed > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}