#s-40ae32a9-1ccb-4c99-a735-dbaf156edac4 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-40ae32a9-1ccb-4c99-a735-dbaf156edac4 #s-username {
  -ms-transform: rotate(0.0deg);
}
#s-40ae32a9-1ccb-4c99-a735-dbaf156edac4 #s-studysesh_bg {
  -ms-transform: rotate(0.0deg);
}
#s-40ae32a9-1ccb-4c99-a735-dbaf156edac4 #s-Study_Sesh {
  -ms-transform: rotate(0.0deg);
}
#s-40ae32a9-1ccb-4c99-a735-dbaf156edac4 #s-Label_97 {
  -ms-transform: rotate(0.0deg);
}
#s-40ae32a9-1ccb-4c99-a735-dbaf156edac4 #s-Label_98 {
  -ms-transform: rotate(0.0deg);
}
#s-40ae32a9-1ccb-4c99-a735-dbaf156edac4 #s-Label_99 {
  -ms-transform: rotate(0.0deg);
}
#s-40ae32a9-1ccb-4c99-a735-dbaf156edac4 #s-Ellipse_33 {
  -ms-transform: rotate(0.0deg);
}
#s-40ae32a9-1ccb-4c99-a735-dbaf156edac4 #s-Ellipse_34 {
  -ms-transform: rotate(0.0deg);
}
#s-40ae32a9-1ccb-4c99-a735-dbaf156edac4 #s-Ellipse_35 {
  -ms-transform: rotate(0.0deg);
}
#s-40ae32a9-1ccb-4c99-a735-dbaf156edac4 #s-Ellipse_36 {
  -ms-transform: rotate(0.0deg);
}
#s-40ae32a9-1ccb-4c99-a735-dbaf156edac4 #s-Ellipse_37 {
  -ms-transform: rotate(0.0deg);
}
#s-40ae32a9-1ccb-4c99-a735-dbaf156edac4 #s-Label_106 {
  -ms-transform: rotate(0.0deg);
}
#s-40ae32a9-1ccb-4c99-a735-dbaf156edac4 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-40ae32a9-1ccb-4c99-a735-dbaf156edac4 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-40ae32a9-1ccb-4c99-a735-dbaf156edac4 #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-40ae32a9-1ccb-4c99-a735-dbaf156edac4 #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-40ae32a9-1ccb-4c99-a735-dbaf156edac4 #s-Button_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-40ae32a9-1ccb-4c99-a735-dbaf156edac4 #s-Button_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-40ae32a9-1ccb-4c99-a735-dbaf156edac4 #s-Button_5 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: dashed;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: dashed;
  border-left-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-40ae32a9-1ccb-4c99-a735-dbaf156edac4 #s-Button_6 {
  -ms-transform: rotate(0.0deg);
}
#s-40ae32a9-1ccb-4c99-a735-dbaf156edac4 #s-username_1 {
  -ms-transform: rotate(0.0deg);
}
#s-40ae32a9-1ccb-4c99-a735-dbaf156edac4 #s-Button_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #4FA8FF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #4FA8FF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #4FA8FF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #4FA8FF;
  -ms-transform: rotate(0.0deg);
}
#s-40ae32a9-1ccb-4c99-a735-dbaf156edac4 #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-40ae32a9-1ccb-4c99-a735-dbaf156edac4 #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-40ae32a9-1ccb-4c99-a735-dbaf156edac4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}