#s-d80e458f-db53-4d3e-9e14-d2308b7f8d1f #s-Image_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=37) ;
  filter: alpha(opacity=37) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d80e458f-db53-4d3e-9e14-d2308b7f8d1f #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d80e458f-db53-4d3e-9e14-d2308b7f8d1f #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d80e458f-db53-4d3e-9e14-d2308b7f8d1f #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d80e458f-db53-4d3e-9e14-d2308b7f8d1f #s-Label_97 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d80e458f-db53-4d3e-9e14-d2308b7f8d1f #s-Label_98 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d80e458f-db53-4d3e-9e14-d2308b7f8d1f #s-Label_99 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d80e458f-db53-4d3e-9e14-d2308b7f8d1f #s-Ellipse_33 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d80e458f-db53-4d3e-9e14-d2308b7f8d1f #s-Ellipse_34 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d80e458f-db53-4d3e-9e14-d2308b7f8d1f #s-Ellipse_35 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d80e458f-db53-4d3e-9e14-d2308b7f8d1f #s-Ellipse_36 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d80e458f-db53-4d3e-9e14-d2308b7f8d1f #s-Ellipse_37 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d80e458f-db53-4d3e-9e14-d2308b7f8d1f #s-Label_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d80e458f-db53-4d3e-9e14-d2308b7f8d1f #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d80e458f-db53-4d3e-9e14-d2308b7f8d1f #s-Study_Sesh {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d80e458f-db53-4d3e-9e14-d2308b7f8d1f #s-Session_Settings {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d80e458f-db53-4d3e-9e14-d2308b7f8d1f #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d80e458f-db53-4d3e-9e14-d2308b7f8d1f #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d80e458f-db53-4d3e-9e14-d2308b7f8d1f #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d80e458f-db53-4d3e-9e14-d2308b7f8d1f #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d80e458f-db53-4d3e-9e14-d2308b7f8d1f #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow: hidden;
}
.non_jim_mobile #simulation {
  overflow: hidden;
}
#s-d80e458f-db53-4d3e-9e14-d2308b7f8d1f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}