#s-201ab676-2537-456c-a263-fcd224db94ed #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-201ab676-2537-456c-a263-fcd224db94ed #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-201ab676-2537-456c-a263-fcd224db94ed #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-201ab676-2537-456c-a263-fcd224db94ed #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-201ab676-2537-456c-a263-fcd224db94ed #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-201ab676-2537-456c-a263-fcd224db94ed #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-201ab676-2537-456c-a263-fcd224db94ed #s-Next_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-201ab676-2537-456c-a263-fcd224db94ed #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-201ab676-2537-456c-a263-fcd224db94ed #s-Study_Sesh_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-201ab676-2537-456c-a263-fcd224db94ed #s-Button_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-201ab676-2537-456c-a263-fcd224db94ed #s-Button_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-201ab676-2537-456c-a263-fcd224db94ed #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-201ab676-2537-456c-a263-fcd224db94ed #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-201ab676-2537-456c-a263-fcd224db94ed #s-Next_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-201ab676-2537-456c-a263-fcd224db94ed #s-Label_97 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-201ab676-2537-456c-a263-fcd224db94ed #s-Label_98 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-201ab676-2537-456c-a263-fcd224db94ed #s-Label_99 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-201ab676-2537-456c-a263-fcd224db94ed #s-Ellipse_33 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-201ab676-2537-456c-a263-fcd224db94ed #s-Ellipse_34 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-201ab676-2537-456c-a263-fcd224db94ed #s-Ellipse_35 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-201ab676-2537-456c-a263-fcd224db94ed #s-Ellipse_36 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-201ab676-2537-456c-a263-fcd224db94ed #s-Ellipse_37 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-201ab676-2537-456c-a263-fcd224db94ed #s-Label_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-201ab676-2537-456c-a263-fcd224db94ed #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-201ab676-2537-456c-a263-fcd224db94ed > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}