#s-963af98c-128f-46f7-9154-dd70306a2bf9 #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #4FA8FF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #4FA8FF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #4FA8FF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #4FA8FF;
  -ms-transform: rotate(0.0deg);
}
#s-963af98c-128f-46f7-9154-dd70306a2bf9 #s-Enter_1 {
  -ms-transform: rotate(0.0deg);
}
#s-963af98c-128f-46f7-9154-dd70306a2bf9 #s-Next_3 {
  -ms-transform: rotate(0.0deg);
}
#s-963af98c-128f-46f7-9154-dd70306a2bf9 #s-Next_1 {
  -ms-transform: rotate(0.0deg);
}
#s-963af98c-128f-46f7-9154-dd70306a2bf9 #s-Next_2 {
  -ms-transform: rotate(0.0deg);
}
#s-963af98c-128f-46f7-9154-dd70306a2bf9 #s-ClassBG {
  -ms-transform: rotate(0.0deg);
}
#s-963af98c-128f-46f7-9154-dd70306a2bf9 #s-Button_2 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: dashed;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: dashed;
  border-left-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-963af98c-128f-46f7-9154-dd70306a2bf9 #s-Button_3 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: dashed;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: dashed;
  border-left-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-963af98c-128f-46f7-9154-dd70306a2bf9 #s-Button_4 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: dashed;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: dashed;
  border-left-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-963af98c-128f-46f7-9154-dd70306a2bf9 #s-Button_5 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: dashed;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: dashed;
  border-left-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-963af98c-128f-46f7-9154-dd70306a2bf9 #s-Button_6 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: dashed;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: dashed;
  border-left-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-963af98c-128f-46f7-9154-dd70306a2bf9 #s-Next {
  -ms-transform: rotate(0.0deg);
}
#s-963af98c-128f-46f7-9154-dd70306a2bf9 #s-Bio {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-963af98c-128f-46f7-9154-dd70306a2bf9 #s-Bio_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-963af98c-128f-46f7-9154-dd70306a2bf9 #s-Bio_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-963af98c-128f-46f7-9154-dd70306a2bf9 #s-Bio_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-963af98c-128f-46f7-9154-dd70306a2bf9 #s-Enter {
  -ms-transform: rotate(0.0deg);
}
#s-963af98c-128f-46f7-9154-dd70306a2bf9 #s-Add_3 {
  -ms-transform: rotate(0.0deg);
}
#s-963af98c-128f-46f7-9154-dd70306a2bf9 #s-Add_2 {
  -ms-transform: rotate(0.0deg);
}
#s-963af98c-128f-46f7-9154-dd70306a2bf9 #s-Add_1 {
  -ms-transform: rotate(0.0deg);
}
#s-963af98c-128f-46f7-9154-dd70306a2bf9 #s-Add {
  -ms-transform: rotate(0.0deg);
}
#s-963af98c-128f-46f7-9154-dd70306a2bf9 #s-SignUp {
  -ms-transform: rotate(0.0deg);
}
#s-963af98c-128f-46f7-9154-dd70306a2bf9 #s-Ellipse_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #4FA8FF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #4FA8FF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #4FA8FF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #4FA8FF;
  -ms-transform: rotate(0.0deg);
}
#s-963af98c-128f-46f7-9154-dd70306a2bf9 #s-Ellipse_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #4FA8FF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #4FA8FF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #4FA8FF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #4FA8FF;
  -ms-transform: rotate(0.0deg);
}
#s-963af98c-128f-46f7-9154-dd70306a2bf9 #s-Ellipse_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #4FA8FF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #4FA8FF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #4FA8FF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #4FA8FF;
  -ms-transform: rotate(0.0deg);
}
#s-963af98c-128f-46f7-9154-dd70306a2bf9 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #4FA8FF;
  -ms-transform: rotate(0.0deg);
}
#s-963af98c-128f-46f7-9154-dd70306a2bf9 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #4FA8FF;
  -ms-transform: rotate(0.0deg);
}
#s-963af98c-128f-46f7-9154-dd70306a2bf9 #s-Ellipse_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #4FA8FF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #4FA8FF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #4FA8FF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #4FA8FF;
  -ms-transform: rotate(0.0deg);
}
#s-963af98c-128f-46f7-9154-dd70306a2bf9 #s-Ellipse_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #4FA8FF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #4FA8FF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #4FA8FF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #4FA8FF;
  -ms-transform: rotate(0.0deg);
}
#s-963af98c-128f-46f7-9154-dd70306a2bf9 #s-Ellipse_9 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #4FA8FF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #4FA8FF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #4FA8FF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #4FA8FF;
  -ms-transform: rotate(0.0deg);
}
#s-963af98c-128f-46f7-9154-dd70306a2bf9 #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #4FA8FF;
  -ms-transform: rotate(0.0deg);
}
#s-963af98c-128f-46f7-9154-dd70306a2bf9 #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #4FA8FF;
  -ms-transform: rotate(0.0deg);
}
#s-963af98c-128f-46f7-9154-dd70306a2bf9 #s-Ellipse_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #4FA8FF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #4FA8FF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #4FA8FF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #4FA8FF;
  -ms-transform: rotate(0.0deg);
}
#s-963af98c-128f-46f7-9154-dd70306a2bf9 #s-Ellipse_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #4FA8FF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #4FA8FF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #4FA8FF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #4FA8FF;
  -ms-transform: rotate(0.0deg);
}
#s-963af98c-128f-46f7-9154-dd70306a2bf9 #s-Ellipse_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #4FA8FF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #4FA8FF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #4FA8FF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #4FA8FF;
  -ms-transform: rotate(0.0deg);
}
#s-963af98c-128f-46f7-9154-dd70306a2bf9 #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #4FA8FF;
  -ms-transform: rotate(0.0deg);
}
#s-963af98c-128f-46f7-9154-dd70306a2bf9 #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #4FA8FF;
  -ms-transform: rotate(0.0deg);
}
#s-963af98c-128f-46f7-9154-dd70306a2bf9 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-963af98c-128f-46f7-9154-dd70306a2bf9 #s-Label_97 {
  -ms-transform: rotate(0.0deg);
}
#s-963af98c-128f-46f7-9154-dd70306a2bf9 #s-Label_98 {
  -ms-transform: rotate(0.0deg);
}
#s-963af98c-128f-46f7-9154-dd70306a2bf9 #s-Label_99 {
  -ms-transform: rotate(0.0deg);
}
#s-963af98c-128f-46f7-9154-dd70306a2bf9 #s-Ellipse_33 {
  -ms-transform: rotate(0.0deg);
}
#s-963af98c-128f-46f7-9154-dd70306a2bf9 #s-Ellipse_34 {
  -ms-transform: rotate(0.0deg);
}
#s-963af98c-128f-46f7-9154-dd70306a2bf9 #s-Ellipse_35 {
  -ms-transform: rotate(0.0deg);
}
#s-963af98c-128f-46f7-9154-dd70306a2bf9 #s-Ellipse_36 {
  -ms-transform: rotate(0.0deg);
}
#s-963af98c-128f-46f7-9154-dd70306a2bf9 #s-Ellipse_37 {
  -ms-transform: rotate(0.0deg);
}
#s-963af98c-128f-46f7-9154-dd70306a2bf9 #s-Label_106 {
  -ms-transform: rotate(0.0deg);
}
#s-963af98c-128f-46f7-9154-dd70306a2bf9 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-963af98c-128f-46f7-9154-dd70306a2bf9 #s-Classes {
  -ms-transform: rotate(0.0deg);
}
#s-963af98c-128f-46f7-9154-dd70306a2bf9 #s-Create {
  -ms-transform: rotate(0.0deg);
}
#s-963af98c-128f-46f7-9154-dd70306a2bf9 #s-Back {
  -ms-transform: rotate(0.0deg);
}
#s-963af98c-128f-46f7-9154-dd70306a2bf9 #s-FinalClasses_1 {
  -ms-transform: rotate(0.0deg);
}
#s-963af98c-128f-46f7-9154-dd70306a2bf9 #s-FromFin {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow: hidden;
}
.non_jim_mobile #simulation {
  overflow: hidden;
}
#s-963af98c-128f-46f7-9154-dd70306a2bf9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}