#s-a8154f73-bc43-4e62-a12d-5c79160bec7a #s-Image_1 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
}
#s-a8154f73-bc43-4e62-a12d-5c79160bec7a #s-SignUp {
  -ms-transform: rotate(0.0deg);
}
#s-a8154f73-bc43-4e62-a12d-5c79160bec7a #s-Login {
  -ms-transform: rotate(0.0deg);
}
#s-a8154f73-bc43-4e62-a12d-5c79160bec7a #s-BookBG {
  -ms-transform: rotate(0.0deg);
}
#s-a8154f73-bc43-4e62-a12d-5c79160bec7a #s-Book {
  -ms-transform: rotate(0.0deg);
}
#s-a8154f73-bc43-4e62-a12d-5c79160bec7a #s-StudySesh {
  -ms-transform: rotate(0.0deg);
}
#s-a8154f73-bc43-4e62-a12d-5c79160bec7a #s-Label_97 {
  -ms-transform: rotate(0.0deg);
}
#s-a8154f73-bc43-4e62-a12d-5c79160bec7a #s-Label_98 {
  -ms-transform: rotate(0.0deg);
}
#s-a8154f73-bc43-4e62-a12d-5c79160bec7a #s-Label_99 {
  -ms-transform: rotate(0.0deg);
}
#s-a8154f73-bc43-4e62-a12d-5c79160bec7a #s-Ellipse_33 {
  -ms-transform: rotate(0.0deg);
}
#s-a8154f73-bc43-4e62-a12d-5c79160bec7a #s-Ellipse_34 {
  -ms-transform: rotate(0.0deg);
}
#s-a8154f73-bc43-4e62-a12d-5c79160bec7a #s-Ellipse_35 {
  -ms-transform: rotate(0.0deg);
}
#s-a8154f73-bc43-4e62-a12d-5c79160bec7a #s-Ellipse_36 {
  -ms-transform: rotate(0.0deg);
}
#s-a8154f73-bc43-4e62-a12d-5c79160bec7a #s-Ellipse_37 {
  -ms-transform: rotate(0.0deg);
}
#s-a8154f73-bc43-4e62-a12d-5c79160bec7a #s-Label_106 {
  -ms-transform: rotate(0.0deg);
}
#s-a8154f73-bc43-4e62-a12d-5c79160bec7a #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-a8154f73-bc43-4e62-a12d-5c79160bec7a #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a8154f73-bc43-4e62-a12d-5c79160bec7a #s-Login_Option {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow: hidden;
}
.non_jim_mobile #simulation {
  overflow: hidden;
}
#s-a8154f73-bc43-4e62-a12d-5c79160bec7a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}